<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to Homepage</h1>
    <h3><%= user.email %></h3>
    <form action="#" method="post">
        <input type="url" id="originalUrl" required><br><br><button id="submitUrl">Submit</button>
    </form>
    <br><br><br><br>
    <button><a href="/">Check The jwt</a></button>
    <div id="container">
        <% if (urls.length !== 0) { %>
            <% urls.forEach(url => { %>
                <a href="<%= url.original_url %>">Original</a>&nbsp;&nbsp;&nbsp;
                <a href= "http://localhost:3000/<%= url.short_code %>">http://localhost:3000/<%= url.short_code %></a>
                <br>
            <% }) %>
        <% } %>
    </div>
    <button><a href="/auth/logout">Logout user</a></button>
</body>
<script>
    const originalUrlInput = document.querySelector("#originalUrl");
    const form = document.querySelector("form")

    form.addEventListener('submit', async (e)=>{
        e.preventDefault();

        const originalUrl = originalUrlInput.value;
        const res= await fetch("/user/shorten", {
            method: "POST",
            headers: {
                "Content-Type" : "application/json"
            },
            body : JSON.stringify({
                originalUrl
            })
        })
        const result = await res.json();
        
        form.reset();
        const div = document.createElement("div");
        div.innerHTML = `
        <a href="${result.originalUrl}">Original</a>&nbsp;&nbsp;&nbsp;
        <a href="http://localhost:3000/${result.shortCode}">http://localhost:3000/${result.shortCode}</a>`

        document.querySelector("#container").appendChild(div);
    })
</script>
</html>