<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Details</title>
</head>
<body>
    <% let obj = new URL(url.original_url);
        let domain = obj.host;
    %>
    <img src="<%= `https://api.companyenrich.com/logo/${domain}` %>" alt="">
</body>
</html>