<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | SignUp</title>
</head>
<body>
    <form action="/auth/signup" method="post">
        <input type="email" name="email" id="email" placeholder="Enter email"><br><br>
        <input type="password" name="password" id="password" placeholder="Password">
        <button type="submit">SignUp</button>&nbsp;<button type="reset">Reset</button>
    </form>
</body>
</html>